extends layout 

block content 
  h1 #{title}: #{bookinstance.book.title}
  p Do you relly want to delete this Book Instance?
  form(method='POST' action='')
      div.form-group
        // name: bookinstanceid will be used in POST 
        input#bookInstanceid.form-control(type='hidden',name='bookInstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete